/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  min-height: 100vh;
  min-width: 375px;
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER*/
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  width: 100%;
  max-block-size: 100vh;
  min-block-size: 668px;
  padding: var(--padding);
  margin-bottom: 40px;
  

  @media (width >= 768px) {
    min-block-size: 1024px;
    padding-left: 0;
    margin-bottom: 60px;
  }
  @media (width >= 1024px) {
    min-block-size: 768px;
    justify-self: center;
    align-self: start;
  }
}

/* Декоративная надпись REC */
.header-rec {
  position: absolute;
  inset-block-start: 10px;
  inset-block-end: 10px;
  justify-self: end;
  padding-right: 38px;
  color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: 25px;
  text-transform: uppercase;

  @media (width >= 768px) {
    inset-block-start: 20px;
    padding-right: 48px;
  }
}

.header-rec::after {
  content: "";
  position: absolute;
  inset-block-start: 9px;
  margin-inline: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

/*m e n u*/
.header__theme-menu {
  @media (width >= 1024px) {
    align-self: start;
    justify-self: center;
  }
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--main-text-size);
  list-style-type: none;
  color: var(--accent-color);

  @media (width >= 1024px) {
    flex-direction: row;
    padding-left: 20px;
  }
}

.header__theme-menu-item {
  justify-content: center;
}
.header__theme-menu-button {
  position: relative;
  display: block;
  width: 70px;
  height: 26px;
  border: 1px solid transparent;
  color: var(--nav-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-block-end: 1px solid currentColor;
}
.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}
.header__theme-menu-button:active {
  border: 1px solid currentColor;
}

.title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: var(--header-logo-size);
  color: var(--header-logo-color);
  line-height: 83%;
}

.header-title {
  justify-self: center;

  @media (width >= 768px) {
    justify-self: start;
  }
}

.header-text {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 23.4px;
  width: 100%;
  max-width: 355px;
  justify-self: center;

  @media (width >= 768px) {
    max-width: 364px;
    justify-self: end;
  }
  @media (width >= 1024px) {
    max-width: 491px;
  }
}

/* M A I N */
.content {
  display: grid;
  gap: 50px;
  padding-right: var(--padding);
  padding-left: var(--padding);

  @media (width >= 768px) {
    gap: 80px;
  }
}
.block-text_list {
  margin-bottom: 10px;
}
.block-text_list:last-child {
  margin-bottom: 0;
}

.content-section {
  font-size: var(--main-text-size);
  line-height: 23.4px;
  font-style: normal;
  display: grid;
  gap: 20px;

  @media (width >= 768px) {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.block {
  display: grid;
  gap: 20px;
  @media (width >= 1024px) {
    grid-column: span 2;
  }
}

.content-section_title {
  color: var(--section-heading-color);
  font-weight: 700;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  line-height: 23.4px;
}

.block-text {
  display: grid;
}

.block-text_title {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  margin-bottom: 10px;
}

.block-text_content {
  color: var(--main-text-color);
  font-weight: 400;
}

.block-text_subtitle {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text-link {
  text-shadow: 3px 3px 0 var(--accent-color);
  text-decoration: none;
}
.text-link:focus {
  outline: none;
  border: 1px solid var(--main-text-color);
}

.text-link:focus-visible {
  outline: transparent;
  border: 1px solid var(--main-text-color);
}
.text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.reasons {
  .content-section_title {
    grid-column: 1/-1;
    max-width: 355px;
    @media (width >= 768px) {
      max-width: 236px;
    }
    @media (width >= 1024px) {
      max-width: 315px;
    }
  }
  .block {
    grid-column: 1/-1;
    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--main-gap);
    }
  }
  .block-text {
    @media (width >= 1024px) {
      display: block;
    }
  }
}

/*GALLERY*/

.block-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-gap);
}

.gallery {
  gap: 10px;
  @media (width >= 768px) {
    gap: 20px;
  }
}

.gallery .block-text_title {
  margin-bottom: 0;
}

.block-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  .block-text_title {
    grid-column: 1/-1;
  }
  .block-gallery {
    grid-column: 1/-1;
    @media (width >= 768px) {
      gap: var(--main-gap);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto auto;
    }
  }
}

.block-gallery img:first-child {
  @media (width >= 768px) {
    grid-column: span 2;
  }
}

.block-gallery img:nth-child(2) {
  @media (width >= 768px) {
    grid-column: 3;
    grid-row: span 2;
  }
}

.block-gallery img:nth-child(3) {
  @media (width >= 768px) {
    grid-row: span 2;
    aspect-ratio: 1 / 2;
  }
}

.block-gallery img:nth-child(4) {
  @media (width >= 768px) {
    grid-column: 2;
    grid-row: 2;
    aspect-ratio: 1 / 1;
  }
}

.block-gallery img:nth-child(5) {
  @media (width >= 768px) {
    grid-column: span 2;
  }
}

.footer-title {
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 40px;
  max-block-size: 100vh;
  min-block-size: 668px;
 

  @media (width >= 768px) {
    min-height: 1024px;
    margin-top: 60px;
  }
  @media (width >= 1024px) {
    min-height: 768px;
  }
}
.footer-title .title{
  @media (width >= 1024px) {
    text-shadow: 4px 4px 0 var(--footer-accent-color);
  }
}